.table > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.schedule-table > tbody > tr > td:first-child {
  /* min-width: 13ch;
  width: 7%; */
  text-align: center;
}

.schedule-table > tbody > tr > td:not(first-child) {
  /* width: 31%; */
}

.poster-schedule > tbody > tr > td:nth-child(odd) {
  text-align: center;
}

.poster-schedule > tbody > tr > td:nth-child(even) {
  /* width: 31%; */
}

.invited-schedule tbody:nth-of-type(1) {
  background-color: hsl(var(--indigo-1-hsl));
}

.invited-schedule tbody:nth-of-type(2) {
  background-color: hsl(var(--violet-1-hsl));
}

.invited-schedule tbody:nth-of-type(3) {
  background-color: hsl(var(--orange-1-hsl));
}

.schedule-table .session-1 {
  background-color: hsl(var(--indigo-1-hsl));
}

.schedule-table .session-2 {
  background-color: hsl(var(--violet-1-hsl));
}

.schedule-table .session-3 {
  background-color: hsl(var(--orange-1-hsl));
}

.schedule-table .session-4 {
  background-color: hsl(var(--cyan-1-hsl));
}

.schedule-table .session-5 {
  background-color: hsl(var(--violet-1-hsl));
}

.schedule-table .session-6 {
  background-color: hsl(var(--orange-1-hsl));
}

.schedule-table .session-7 {
  background-color: hsl(var(--cyan-1-hsl));
}

.schedule-table .session-8 {
  background-color: hsl(var(--indigo-1-hsl));
}

.schedule-table .session-9 {
  background-color: hsl(var(--orange-1-hsl));
}

.schedule-table .session-10 {
  background-color: hsl(var(--cyan-1-hsl));
}

.schedule-table .session-11 {
  background-color: hsl(var(--indigo-1-hsl));
}

.schedule-table .session-12 {
  background-color: hsl(var(--violet-1-hsl));
}

.schedule-table .invited-talk {
  background-color: hsl(var(--green-1-hsl));
}

.session-select {
  background-color: hsl(216 95% 25% / 75%);
  color: hsl(0, 0%, 100%);
}

.poster-schedule {
  scroll-margin-top: 4rem;
}

.poster-schedule .session-1 {
  background-color: hsl(var(--indigo-1-hsl));
}

.poster-schedule .session-2 {
  background-color: hsl(var(--violet-1-hsl));
}

.poster-schedule .session-3 {
  background-color: hsl(var(--orange-1-hsl));
}
